<!DOCTYPE html>
<html ng-app="DrinkRequestSystemApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Drink Request System</title>
    <link href="~/Assets/Styles/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/Styles/heroic-features.css" rel="stylesheet" />
    


</head>
    <body>
        <div class="container" style="    margin-top: -100px !important;">
             <!-- Jumbotron Header -->
            <header class="jumbotron hero-spacer">
                <h1>İçecek bir şey istiyorum...</h1>
            </header>

            <hr>

            @RenderBody()

        </div>
        <script src="~/Assets/Scripts/jquery.js"></script>
        <script src="~/Assets/Scripts/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular-route.js"></script>
        <script src="~/Assets/Scripts/app.js"></script>
        <script src="~/Assets/Modules/home/controller.js"></script>
        <script src="~/Assets/Modules/home/services.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
